

@keyframes colorLoop {
  0% { color: variable.$color-accent; }
  50% { color: white; }
  100% { color: variable.$color-accent; }
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



.animate-color-loop {
  animation: colorLoop 2s infinite ease-in-out;
}

.animate-gradient-move {
  animation: gradientMove 3s ease infinite;
}


.titulo {
  @extend .animate-color-loop;
}