@use '../base/variables' as *;


// MEDIA 




@media (max-width: 1024px) {
  .center-img {
    max-width: 80%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .center-img {
    max-width: 90%;
    padding: 6px;
  }

  .center {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .center-img {
    max-width: 100%;
    padding: 2px;
  }
}

